<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증 코드 이메일</title>
</head>
<body>
<div class="container">
    <div style="text-align:left;">
        <img src="https://bzbz-file-bucket.s3.ap-northeast-2.amazonaws.com/Offispace_logo_bk.png" alt="Offispace 로고" style="width: 200px; height: auto;">
    </div>
    <hr>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="padding:10px 0 20px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="font:30px/40px Malgun Gothic; letter-spacing:-1px;"><strong>[Offispace] 인증번호를 안내해 드립니다.</strong></td>
                    </tr>
                    <tr>
                        <td style="padding:30px 0 25px; font:16px/26px Malgun Gothic; color:#767676;">안녕하세요.</td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:10px; font:16px/26px Malgun Gothic; color:#767676;">
                           아래 인증 번호를 확인하신 후 이메일 인증절차를 완료하세요.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed; border-bottom:1px #a5a5a5 solid;">
                    <colgroup>
                        <col width="18%">
                        <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th colspan="1" rowspan="1" style="padding:8px 0; font:bold 14px/20px Malgun Gothic; letter-spacing:-1px; color:#4b5964; text-align:center; background:#f3f3f3; border-top:1px #e0e0e0 solid;">
                            인증 번호
                        </th>
                        <td colspan="3" style="padding:8px 10px; font:14px/20px Malgun Gothic; color:#4b5964; border-left:1px #e0e0e0 solid; border-top:1px #e0e0e0 solid;">
                            <strong th:text="${verifyCode}"></strong>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="1" rowspan="1" style="padding:8px 0; font:bold 14px/20px Malgun Gothic; letter-spacing:-1px; color:#4b5964; text-align:center; background:#f3f3f3; border-top:1px #e0e0e0 solid;">
                            만료 시각
                        </th>
                        <td colspan="3" style="padding:8px 10px; font:14px/20px Malgun Gothic; color:#4b5964; border-left:1px #e0e0e0 solid; border-top:1px #e0e0e0 solid;">
                            <strong th:text="${expiredAt}"></strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td style="padding-bottom:5px; vertical-align:top; font:14px/20px Malgun Gothic; color:#666;">
                            · 위 인증 번호를 만료 시각내에 입력창에 입력하시기 바랍니다.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="footer">
        <hr>
        <p>© 2024 Offispace. All rights reserved.</p>
    </div>
</div>
</body>
</html>
